<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
        <style>
            table {
                border: 1px solid #ccc;
                border-spacing: 3px;
                table-layout: fixed;
                width: 450px;
                margin: auto;
            }

            td, th{
                border: solid 1px #ccc;
                text-align: center;
            }
            .collapsed{
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ul>
                    <li><a href="#t-1">Понятие площади</a></li>
                    <li><a href="#t-2">Свойства площадей</a></li>
                    <li><a href="#t-3">Площадь прямоугольника</a></li>
                    <li><a href="#t-4">Площадь параллелограмма</a></li>
                    <li><a href="#t-5">Площадь треугольника</a></li>
                    <li><a href="#t-6">Площадь трапеции</a></li>
                    <li><a href="#t-7">Площадь круга</a></li>
                    <li><a href="#t-8">Площадь кругового сектора</a></li>
                </ul>
            </div>
            <div id="article">
                <a name="t-1"><h2>Понятие площади</h2></a>
                <p>Площадь многоугольника - это величина той части плоскости, которую занимает многоугольник.
                    За единицу измерения площадей принимают квадрат, сторона которого равна единице измерения отрезков.</p>
                <div id="table">  
                    <table class="collapsed">
                        <thead>  
                            <tr>
                                <td><h3>единица измерения отрезков</h3></td> <td><h3>единица измерения площадей</h3></td> <td><h3>название квадрата</h3></td>
                            </tr>
                        </thead>
                        <tbody>  
                            <tr>
                                <td>мм</td> <td>мм^2</td> <td>квадратный миллиметр</td>
                            </tr>
                            <tr>
                                <td>см</td> <td>см^2</td> <td>квадратный сантиметр</td>
                            </tr>
                            <tr>
                                <td>дм</td> <td>дм^2</td> <td>квадратный дециметр</td>
                            </tr>
                            <tr>
                                <td>м</td> <td>м^2</td> <td>квадратный метр</td>
                            </tr>
                            <tr>
                                <td>км</td> <td>км^2</td> <td>квадратный километр</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a name="t-2"><h2>Свойства площадей</h2></a>
                <p>
                    <ol>
                        <li>Равные многоугольники имеют равные площади.</li>
                        <li>Если многоугольник составлен из нескольких многоугольников, то его площадь равна сумме площадей этих многоугольников</li>
                        <li>Площадь квадрата равна квадрату его стороны</li>
                        <img src="static\58037.png" arc="sbgbgeilgl">
                    </ol>
                </p>
                <p>
                    Равновеликие многоугольники - это многоугольники, которые имеют равные площади.
                </p>
                <p>Равносоставленные многоугольники - это многоугольники, которые составлены из многоугольников, имеющих равные площади.</p>
                <a name="t-3"><h2>Площадь прямоугольника</h2></a>
                <p>Площадь прямоугольника равна произведению его смежных сторон.</p>
                <p>S = a * b</p>
                <img src="static\58107.png" arc="beibg">
                <a name="t-4"><h2>Площадь параллелограмма</h2></a>
                <p>
                    Назовем одну из сторон параллелограмма основанием, а перпендикуляр, проведенный из любой точки противоположной стороны к прямой, 
                    содержащей основание, - высотой параллелограмма.
                </p>
                <p>Площадь параллелограмма равна произведению его основания на высоту</p>
                <p>S = a * h</p>
                <img src="static\imgonline-com-ua-Resize-hYOdjtcwJggcV2v (1).png" arc="gserbguir">
                <a name="t-5"><h2>Площадь треугольника</h2></a>
                <img src="static\imgonline-com-ua-Resize-aaBUPmf8jxEtG3ho.jpg" arc="ebgk">
                <a name="t-6"><h2>Площадь трапеции</h2></a>
                <p>Площадь трапеции равна произведению полусуммы ее оснований на высоту</p>
                <p>S = 1/2*(a + b)*h</p>
                <img src="static\1_1585030759.jpg" arc="gsegseg">
                <a name="t-7"><h2>Площадь круга</h2></a>
                <p>Круг - часть плоскости, ограниченная окружностью. Круг радиуса R с центром O содержит точку O и все точки плоскости, которые находятся от точки O  на расстоянии, не большем R.</p>
                <p>Площадь круга S радиуса R вычисляется по формуле:</p>
                <p>S = πR²</p>
                <a name="t-8"><h2>Площадь кругового сектора</h2></a>
                <p>Круговой сектор (сектор) - это часть круга, ограниченная дугой и двумя радиусами, которые соединяют концы дуги с центром круга. Дуга сектора - это дуга, ограничивающая сектор.</p>
                <img src="static\68976.png" arc="afueahuhw">
                <p>Площадь S кругового сектора выражается формулой:</p>
                <img src="static\68997.png" arc="eaugeiuagf">
                <p>Круговой сегмент (сегмент) - это часть круга, ограниченная дугой окружности и хордой, которая соединяет концы этой дуги:</p>
                <img src="static\68977.png" arc="eishgshegio">
                <p>В том случае когда градусная мера дуги меньше 180°, площадь сегмента равна разности площади сектора и площади равнобедренного треугольника, сторонами которого являются два радиуса и хорда сегмента.</p>
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>