<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                
            </div>
            <div id="article">
                <h2>Добро пожаловать на сайт!</h2>
                <p>Здесь вы можете найти всю интересующую вас информацию по геометрии за 7-9 класс.</p>
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>