<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ol>
                    <li><a href="#t-1">Определение</a></li>
                    <li><a href="#t-2">Основные характеристики окружности</a></li>
                    <li><a href="#t-3">Касательная к окружности</a></li>
                    <li><a href="#t-4">Вписанный угол</a></li>
                    <li><a href="#t-5">Вписанная окружность</a></li>
                    <li><a href="#t-6">Описанная окружность</a></li>
                    <li><a href="#t-7">Окружность, описанная около правильного многоугольника</a></li>
                    <li><a href="#t-8">Окружность, вписанная в правильный многоугольник</a></li>
                    <li><a href="#t-9">Длина окружности</a></li>
                </ol>
            </div>
            <div id="article">
                <a name="t-1"><h2>Окружность</h2></a>
                <p>Окружность - это замкнутая кривая, которая состоит из всех точек на плоскости, равноудалённых от заданной точки. Заданная точка является центром окружности.</p>
                <img src="static\48500.png" arc="nwifnwo">
                <a name="t-2"><h2>Основные характеристики окружности</h2></a>
                <p>
                    <ol>
                        <li>Радиус - это отрезок, соединяющий центр с какой-либо точкой окружности. У любой окружности можно провести бесконечно много радиусов, которые будут иметь одну и ту же длину. Обозначают радиус r или R. </li>
                        <img src="static\48502.png" arc="gepoig">
                        <li>Хорда - это отрезок, соединяющий две точки окружности. У любой окружности можно провести бесконечно много хорд. На Рис.3 ВС и KD - хорды окружности с центром в точке О.</li>
                        <img src="static\48503.png" arc="gebugjbik">
                        <li>Диаметр - это отрезок, соединяющий две точки окружности и проходящий через ее центр (т.е. диаметр - это частный случай хорды). У любой окружности можно провести бесконечно много диаметров, которые будут иметь одну и ту же длину.
                            На Рис.4 МN - диаметр окружности с центром в точке О. Обозначают диаметр d или D. Диаметр в два раза больше радиуса, т.е. d = 2r (D = 2R), откуда r = d : 2 (R = D : 2), следовательно, центр окружности (точка О) является серединой диаметра.
                        </li>
                        <img src="static\48504.png" arc="gesg">
                        <li>Дуга - это часть окружности, ограниченная двумя точками. На Рис.5 KDC и KBC - дуги, ограниченные точками К и С.</li>
                        <img src="static\48505.png" arc="rhoihnoi">
                    </ol>
                </p>
                <a name="t-3"><h2>Касательная к окружности</h2></a>
                <p>Касательная к окружности - прямая, имеющая с окружностью одну общую точку, которая называется точкой касания прямой и окружности.</p>
                <img src="static\60551.png" arc="geiughi">
                <h3>Свойство касательной к окружности</h3>
                <p>
                    <ol>
                        <li>Касательная к окружности перпендикулярна к радиусу, проведенному в точку касания.</li>
                        <li>Отрезки касательных к окружности, проведенные из одной точки, равны и составляют равные углы с прямой, проходящей через эту точку и центр окружности.</li>
                        <li>Если прямая проходит через конец радиуса, лежащий на окружности, и перпендикулярна к этому радиусу, то она является касательной.</li>
                    </ol>
                </p>
                <a name="t-4"><h2>Вписанный угол</h2></a>
                <p>Вписанный угол - угол, вершина которого лежит на окружности, а стороны пересекают окружность.</p>
                <p>На рисунке угол ВАС вписанный, дуга ВLС расположена внутри этого угла. В таком случае говорят, что вписанный угол АВС опирается на дугу ВLC.</p>
                <img src="static\61040.png" arc="egsgbiu">
                <h3>Теорема о вписанном угле</h3>
                <p>Вписанный угол измеряется половиной дуги, на которую он опирается.</p>
                <h3>Следствия из теоремы о вписанном угле</h3>
                <p>
                    <ol>
                        <li>Вписанные углы, опирающиеся на одну и ту же дугу, равны.</li>
                        <img src="static\61048.png" arc="fauiefuie">
                        <li>Вписанный угол, опирающийся на полуокружность, - прямой.</li>
                        <img src="static\61049.png" arc="aeuwgheu">
                    </ol>
                </p>
                <h3>Теоремы</h3>
                <p>
                    <ol>
                        <li>Если две хорды окружности пересекаются, то произведение отрезков одной хорды равно произведению отрезков другой хорды.</li>
                        <li>Угол между касательной и хордой, проведенной в точку касания, равен половине дуги, стягиваемой этой хордой.</li>
                    </ol>
                </p>
                <h2>Свойство биссектрисы угла</h2>
                <p>Каждая точка биссектрисы неразвёрнутого угла равноудалена от его сторон.</p>
                <p>Обратно: каждая точка, лежащая внутри угла и равноудалённая от сторон угла, лежит на его биссектрисе.</p>
                <h3>Следствия</h3>
                <p>
                    <ol>
                        <li>
                            Геометрическим местом точек плоскости, лежащих внутри неразвёрнутого угла и равноудалённых от сторон угла, является биссектриса этого угла.</li>
                            <li>Биссектрисы треугольника пересекаются в одной точке.</li>
                    </ol>
                </p>
                <a name="t-5"><h2>Вписанная окружность</h2></a>
                <p>Окружность вписанная в многоугольник - это окружность, которая касается всех сторон многоугольника. Центр вписанной окружности лежит внутри многоугольника, в который она вписана.
                    Описанный около окружности многоугольник - это многоугольник, в который вписана окружность. На рисунке 1 четырехугольник АВСD описан около окружности с центром О,
                     а четырехугольник АЕКD не является описанным около этой окружности, так как сторона ЕК не касается окружности.
                </p>
                <img src="static\61625.png" arc="aegfuaefy">
                <p>В любой треугольник можно вписать окружность. В треугольник можно вписать только одну окружность. Не во всякий четырехугольник можно вписать окружность. Если же в четырехугольник можно вписать окружность, то его стороны обладают следующим замечательным свойством:
                    В любом описанном четырехугольнике суммы противоположных сторон равны. Если суммы противоположных сторон выпуклого четырехугольника равны, то в него можно вписать окружность.
                </p>
                <a name="t-6"><h2>Описанная окружность</h2></a>
                <p>Окружность описанная около многоугольника - это окружность, на которой лежат все вершины многоугольника. Вписанный в окружность многоугольник - это многоугольник, все вершины которого лежат на окружности. На рисунке 1 четырехугольник АВСD вписан в окружность с 
                    центром О, а четырехугольник АЕСD не является вписанным в эту окружность, так как вершина Е не лежит на окружности.</p>
                <img src="static\61683.png" arc="aeguigh">
                <p>Около любого треугольника можно описать окружность.</p>
                <p>Около треугольника можно описать только одну окружность.</p>
                <p>Около четырехугольника не всегда можно описать окружность.</p>
                <p>В любом вписанном четырехугольнике сумма противоположных углов равна 180°. Если сумма противоположных углов четырехугольника равна 180°, то около него можно описать окружность.</p>
                <a name="t-7"><h2>Окружность, описанная около правильного многоугольника</h2></a>
                <p>Около любого правильного многоугольника можно описать окружность, и притом только одну.</p>
                <a name="t-8"><h2>Окружность, вписанная в правильный многоугольник</h2></a>
                <p>В любой правильный многоугольник можно вписать окружность, и притом только одну.</p>
                <p>Окружность, вписанная в правильный многоугольник, касается сторон многоугольника в их серединах.</p>
                <p>Центр окружности, описанной около правильного многоугольника, совпадает с центром окружности, вписанной в тот же многоугольник.</p>
                <a name="t-9"><h2>Длина окружности</h2></a>
                <p>Для всех окружностей отношение длины окружности к диаметру есть одно и то же число.</p>
                <p>Длину окружности можно найти по формуле:</p>
                <p>C = 2πR</p>
                <p>Длина L дуги окружности выражается формулой:</p>
                <img src="static\68932.png" arc="gesughlag">
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>