<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ol>
                    <li><a href="#t-1">Определение</a></li>
                    <li><a href="#t-2">Параллелограмм</a></li>
                    <li><a href="#t-3">Трапеция</a></li>
                    <li><a href="#t-4">Прямоугольник</a></li>
                    <li><a href="#t-5">Ромб</a></li>
                    <li><a href="#t-6">Квадрат</a></li>
                    <li><a href="#t-7">Осевая и центральная симетреии</a></li>
                </ol>
            </div>
            <div id="article">
                <a name="t-1"><h2>Четырёхугольник</h2></a>
                <p>Четырехугольник - это многоугольник, который имеет четыре 
                    вершины (А, В, С, D), четыре стороны (АВ, BC, CD, AD) и две диагонали (АС, ВD).</p>
                <img src="static\56813.png" arc="geggaeg">
                <p>Две несмежные стороны четырехугольника называются противоположными. Две вершины, не являющиеся соседними, также называются противоположными.

                    Периметр четырехугольника (Р) - это сумма длин четырех его сторон. Периметр четырехугольника изображенного на рисунке 1, равен сумме длин АВ, ВС, СD и АD, т.е. Р = АВ + ВС + СD + АD.
                    
                    Четырехугольники бывают выпуклые (а) и невыпуклые (б).
                    
                    Каждая диагональ выпуклого четырехугольника разделяет его на два треугольника. На рисунке 1, диагональ ВD разбивает выпуклый четырехугольник АВСD на АВD и ВСD, а диагональ АС - на АВС и АСD.
                    
                    Сумма углов выпуклого и невыпуклого n-угольников равна (n-2)180°, тогда, учитывая то, что у четырехугольника 4 угла, т.е. n = 4, сумма углов выпуклого и невыпуклого четырехугольников равна (4-2)180° = 360°.</p>
                <a name="t-2"><h2>Параллелограмм</h2></a>
                <p>Параллелограмм - выпуклый четырехугольник, у которого противоположные стороны попарно параллельны. На рисунке 1 изображен параллелограмм АВСD, противоположные стороны АВ и DC, АD и ВС параллельны, т.е. АВDC, АDВС.</p>    
                <img src="static\56960.png" arc="geggeg">
                <h3>Свойства параллелограмма:</h3>
                <p><ol>
                    <li>В параллелограмме противоположные стороны равны и противоположные углы равны.</li>
                    <img src="static\56963.png" arc="ehgs">
                    <li>Диагонали параллелограмма точкой пересечения делятся пополам.</li>
                    <img src="static\56964.png" arc="egseghie">
                </ol></p>
                <h3>Признаки параллелограмма:</h3>
                <p><ol>
                    <li>Если в четырехугольнике две стороны равны и параллельны, то этот четырехугольник - параллелограмм.</li>
                    <li>Если в четырехугольнике противоположные стороны попарно равны, то этот четырехугольник - параллелограмм.</li>
                    <li>Если в четырехугольнике диагонали пересекаются и точкой пересечения делятся пополам, то этот четырехугольник параллелограмм.</li>
                </ol></p>
                <a name="t-3"><h2>Трапеция</h2></a>
                <p>Трапеция - это четырехугольник, у которого две стороны параллельны, а две другие стороны не параллельны. На рисунке изображена трапеция АВСD, в которой АВDС, АDВС.</p>
                <img src="static\57094.png" arc="weroipjsd">
                <h3>Элементы трапеции:</h3>
                <p><ol>
                    <li>Основания - параллельные стороны трапеции;</li>
                    <li>Боковые стороны - непараллельные стороны трапеции.</li>
                </ol></p>
                <img src="static\57093.png" arc="hoeighoi">
                <h3>Виды трапеций</h3>
                <p><ol>
                    <li>Равнобедренная трапеция - трапеция, у которой боковые стороны равны (рис. a);</li>
                    <li>Прямоугольная трапеция - трапеция, один из углов которой прямой (рис. б).</li>
                </ol></p>
                <img src="static\57096.png" arc="ioqwrupoij">
                <a name="t-4"><h2>Прямоугольник</h2></a>
                <p>Частным видом параллелограмма является прямоугольник.</p>
                <p>Прямоугольником называют параллелограмм, у которого все углы прямые</p>
                <img src="static\57178.png" arc="ioqsdhfgie">
                <p>ABCD-прямоугольник</p>
                <p>Прямоугольник обладает всеми свойствами параллелограмма.</p>
                <h3>Особое свойство прямоугольника</h3>
                <p>Диагонали прямоугольника равны</p>
                <h3>Признаки прямоугольника</h3>
                <p><ol>
                    <li>Если в параллелограмме диагонали равны, то этот параллелограмм - прямоугольник</li>
                    <li>Если один из углов параллелограмма прямой, то этот параллелограмм - прямоугольник</li>
                </ol></p>
                <a name="t-5"><h2>Ромб</h2></a>
                <p>Частным видом параллелограмма является ромб.</p>
                <p>Ромбом называется параллелограмм, у которого все стороны равны</p>
                <img src="static\57184.png" arc="sgeg">
                <p>ABCD - ромб.</p>
                <p>Ромб обладает всеми свойствами параллелограмма.</p>
                <h3>Особое свойство ромба</h3>
                <p>Диагонали ромба взаимно перпендикулярны и делят его углы пополам</p>
                <h3>Признаки ромба</h3>
                <p><ol>
                    <li>Если диагонали параллелограмма перпендикулярны, то этот параллелограмм - ромб</li>
                    <li>Если диагональ параллелограмма является биссектрисой его угла, то этот параллелограмм - ромб</li>
                </ol></p>
                <a name="t-6"><h2>Квадрат</h2></a>
                <p>Квадратом называется прямоугольник, у которого все стороны равны</p>
                <h3>Основные свойства квадрата</h3>
                <p><ol>
                    <li>Все углы квадрата прямые.</li>
                    <img src="static\57206.png" arc="hegwioehgi">
                    <li> Диагонали квадрата равны, взаимно перпендикулярны, точкой пересечения делятся пополам и делят углы квадрата пополам.</li>
                    <img src="static\57207.png" arc="hgejeghkaegh">
                </ol></p>
                <a name="t-7"><h2>Осевая и центральная симетреии</h2></a>
                <p>Если прямая  проходит через середину отрезка А1А2 и перпендикулярна к нему, то точки А1 и А2 называются симметричными относительно прямой . Каждая точка прямой  симметрична самой себе.</p>
                <img src="static\57209.png" arc="iejqioj">
                <p>Фигура называется симметричной относительно прямой, если для каждой точки фигуры симметричная ей точка  относительно прямой   также принадлежит этой фигуре. Прямая  - ось симметрии фигуры.</p>
                <p>Пример (синим цветом обозначены оси симметрии):</p>
                <img src="static\59112.png" arc="bjkvbxkjvbs">
                <p>Точки А1 и А2 называются симметричными относительно точки О, если О - середина отрезка А1А2. Точка О считается симметричной самой  себе.</p>
                <p>Фигура называется симметричной относительно точки О, если для каждой точки фигуры симметричная ей точка  относительно точки О также принадлежит этой фигуре. Точка О называется центром симметрии фигуры.</p>
                <p>Пример (синим цветом обозначены центры симметрии):</p>
                <img src="static\59111.png" arc="jkbkljvbkjsbg">
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>