<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ul>
                    <li><a href="#t-1">Определение</a></li>
                    <li><a href="#t-2">Расположение точек относительно прямой</a></li>
                    <li><a href="#t-3">Перпендикулярные прямые</a></li>
                    <li><a href="#t-4">Параллельные прямые</a></li>
                    <li><a href="#t-5">Признаки параллельности двух прямых</a></li>
                    <li><a href="#t-6">Аксиома параллельных прямых</a></li>
                    <li><a href="#t-7">Теоремы</a></li>
                </ul>
            </div>
            <div id="article">
                <a name="t-1"><h2>Прямая</h2></a>
                <p>Прямая не имеет начала и конца. Обозначать прямые принято малыми латинскими буквами (a, b, c и т.д.) (рис. a), но бывают случаи, когда прямые обозначены большими латинскими буквами (АВ, CD, MN и т.д.) (Рис. б),  точки же всегда обозначают большими латинскими буквами (А, В, С и т.д) (Рис. a).</p>
                <img src="static\44595.png" arc="hhfiuag">
                <a name="t-2"><h2>Возможны два варианта расположения точек относительно прямой:</h2></a>
                <p><ol>
                    <li>Точки лежат на данной прямой или говорят, что прямая проходит через эти точки, на Рис.2 такими точками являются А и В. Для краткости, при
                        решении задач используют запись A ∈ B (читается - точка А принадлежит прямой  или точка А лежит на прямой a), аналогично будет и для точки B (B ∈ a).
                    </li>
                    <li>
                        Точки не лежат на данной прямой или говорят, что прямая не проходит через эти точки, на Рис.2 такими точками являются С и D. Для краткости, при решении задач используют запись C ∉ a(читается - точка С не принадлежит прямой a или точка С не лежит на прямой a), 
                        аналогично будет и для точки D (D ∉ a).
                    </li>
                </ol></p>
                <p>Важно знать, что через любые две точки можно провести прямую и притом только одну.</p>
                <p>Если мы рассмотрим две прямые, то возможны два варианта расположения этих двух прямых друг относительно друга:</p>
                <p><ol>
                    <li>Прямые пересекаются, то есть имеют одну общую точку (Рис.3). Для записи пересекающихся прямых используют специальный символ - ⋂, т.е. a ⋂ b (читают: прямая a пересекает прямую b).</li>
                    <img src="static\44596.png" arc="ijri">
                    <li>Прямые не пересекаются, то есть не имеют общих точек (Рис.4). Для записи не пересекающихся прямых используют специальный символ (читают: прямая m не пересекает прямую n).</li>
                    <img src="static\44597.png" arc="qruihug">
                </ol></p>
                <p>На Рис.5,  под пунктом a) красным цветом выделена часть прямой, ограниченная двумя точками. Такая часть прямой называется отрезком. Точки ограничивающие отрезок, называются его концами. На Рис. 5, под пунктом б) изображен отрезок с концами А и В. Такой отрезок можно обозначить АВ или ВА. 
                    Отрезок АВ содержит все точки прямой, лежащие между точками А и В, а так же и сами точки А и В.</p>
                <img src="static\44598.png" arc="nsiniogno">
                <p>Смежные отрезки - это отрезки, не лежащие на одной прямой и имеющие один общий конец. На рисунке 6 отрезки АВ и АС смежные, точка А - общий конец.</p>
                <img src="static\59385.png" arc="ngeiosniog">
                <a name="t-3"><h2>Перпендикулярные прямые</h2></a>
                <p>Перпендикулярные прямые - это прямые, которые при пересечении образуют четыре прямых угла.</p>
                <img src="static\45727.png" arc="beubgi">
                <p>Перпендикулярность прямых обозначают специальным символом - ⟂, т.е. для Рис.1 можно записать HF ⟂ NK (читается: "прямая HF перпендикулярна к прямой NK).</p>
                <h3>Свойство перпендикулярных прямых:</h3>
                <p>Если две прямые перпендикулярны к третьей, то они не пересекаются.</p>
                <img src="static\45746.png" arc="noginwsoign">
                <a name="t-4"><h2>Параллельные прямые</h2></a>
                <p>Параллельные прямые - это две прямые на плоскости, которые не пересекаются в какую бы сторону их не продлили (т.е. прямые не будут иметь
                    общих точек). На рис.1 прямые a и b параллельны, т.к a и b перпендикулярны к прямой c, а две прямые перпендикулярные к третьей прямой не пересекаются. Параллельность прямых
                    a и b обозначают так: a ∥ b (читают: "прямая a параллельна прямой b").
                </p>
                <img src="static\50761.png" arc="gbsug">
                <p>Параллельные отрезки - это два отрезка, лежащие на параллельных прямых. На рис.2 отрезки АВ и CD параллельны, т.е. AB ∥ CD  отрезки ОЕ и СD не параллельны, т.е. можно записать так: OE ∦ CDю</p>
                <img src="static\50762.png" arc="gbkesjbg">
                <p>Также определяются параллельность отрезка и прямой (на рис.3 a AB ∥ b); луча и прямой (на рис.3б h ∥ b); отрезка и луча (на рис.3в АВ ∥ h); двух лучей (на рис.3г h ∥ к).</p>
                <img src="static\50767.png" arc="gsebiueg">
                <a name="t-5"><h2>Признаки параллельности двух прямых</h2></a>
                <p>Рассмотрим две прямые a и b, которые пересекает в двух точках третья прямая c (Рис.1). Прямая c называется секущей по отношению к прямым a и b.</p>
                <img src="static\50940.png" arc="voieshgo">
                <p>При пересечении прямых a и b секущей c образуется восемь углов, которые обозначены цифрами на Рис.2. </p>
                <img src="static\50941.png" arc="gsbligb">
                <p>Некоторые пары из этих углов имеют специальные названия:</p>
                <p><ul>
                    <li>накрест лежащие углы: 3 и 5, 4 и 6;</li>
                    <li>односторонние углы: 4 и 5, 3 и 6;</li>
                    <li>соответственные углы: 1 и 5, 4 и 8, 2 и 6, 3 и 7.</li>
                </ul></p>
                <h3>Признаки параллельности двух прямых</h3>
                <p><ol>
                    <li>Если при пересечении двух прямых секущей накрест лежащие углы равны, то прямые параллельны.</li>
                    <li>Если при пересечении двух прямых секущей соответственные углы равны, то прямые параллельны.</li>
                    <li>Если при пересечении двух прямых секущей сумма односторонних углов равна 180°, то прямые параллельны.</li>
                </ol></p>
                <a name="t-6"><h2>Аксиома параллельных прямых</h2></a>
                <p>Через точку, не лежащую на данной прямой, проходит только одна прямая, параллельная данной.</p>
                <h3>Следствия из аксиомы параллельных прямых:</h3>
                <p><ol>
                    <li>Если прямая пересекает одну из двух параллельных прямых, то она пересекает и другую.</li>
                    <li>Если две прямые параллельны третьей прямой, то они параллельны.</li>
                </ol></p>
                <a name="t-7"><h2>Теорема о накрест лежащих углах</h2></a>
                <p>Если две параллельные прямые пересечены секущей, то накрест лежащие углы равны.</p>
                <h3>Следствие</h3>
                <p>Если прямая перпендикулярна к одной из двух параллельных прямых, то она перпендикулярна и к другой.</p>
                <h2>Теорема о соответственных углах</h2>
                <p>Если две параллельные прямые пересечены секущей, то соответственные углы равны.</p>
                <h2>Теорема об односторонних углах</h2>
                <p>Если две параллельные прямые пересечены секущей, то сумма односторонних углов равна 180°.</p>
                <h2>Теорема об углах с соответственно параллельными сторонами</h2>
                <p>Если стороны одного угла соответственно параллельны сторонам другого угла, то такие углы или равны, или в сумме составляют 180°.</p>
                <h2>Теорема об углах с соответственно перпендикулярными сторонами</h2>
                <p>Если стороны одного угла соответственно перпендикулярны сторонам другого угла, то такие углы или равны, или в сумме составляют 180°.</p>
                <h2>Свойства серединного перпендикуляра к отрезку</h2>
                <p>Серединным перпендикуляром к отрезку называется прямая, проходящая через середину данного отрезка и перпендикулярная к нему.</p>
                <img src="static\61711.png" arc="geggsen">
                <h3>Теорема</h3>
                <p>Каждая точка серединного перпендикуляра к отрезку равноудалена от концов этого отрезка.</p>
                <p>Обратно: каждая точка, равноудалённая от концов отрезка, лежит на серединном перпендикуляре к нему.</p>
                <h3>Следствия</h3>
                <p>
                    <ol>
                        <li>Геометрическим местом точек плоскости, равноудалённых от концов отрезка, является серединный перпендикуляр к этому отрезку.</li>
                        <li>Серединные перпендикуляры к сторонам треугольника пересекаются в одной точке.</li>
                    </ol>
                </p>
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>