<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ul>
                    <li><a href="#t-1">Определение</a></li>
                    <li><a href="#t-2">Вершины, стороны, углы</a></li>
                    <li><a href="#t-3">Классификация треугольников</a></li>
                    <li><a href="#t-4">Медианы, высоты, биссектрисы</a></li>
                    <li><a href="#t-5">Описанная и вписаннная окружности</a></li>
                    <li><a href="#t-6">Признаки равенства треугольников</a></li>
                    <li><a href="#t-7">Признаки подобия треугольников</a></li>
                    <li><a href="#t-8">Основные свойства элементов треугольника</a></li>
                    <li><a href="#t-9">Теорема, обратная теореме Пифагора</a></li>
                    <li><a href="#t-10">Решение треугольников</a></li>
                    <li><a href="#t-11">Теорема о пересечении высот треугольника</a></li>
                    <li><a href="#t-12">Средняя линия треугольника</a></li>
                </ul>
            </div>
            <div id="article">
                <a name="t-1"><h2>Оперделение</h2></a>
                <p>Треуго́льник (в евклидовом пространстве) — геометрическая фигура, образованная тремя отрезками, которые соединяют три точки, не
                    лежащие на одной прямой. Указанные три точки называются вершинами треугольника, а отрезки — сторонами треугольника. Часть
                    плоскости, ограниченная сторонами, называется внутренностью треугольника: нередко треугольник рассматривается вместе со своей
                    внутренностью (например, для определения понятия площади).
                </p>
                <p>
                    <img src="static\Triangle_1.png" alt="sfdesf">
                </p>
                <a name="t-2"><h2>Вершины, стороны, углы</h2></a>
                <p>
                    Традиционно вершины треугольника обозначаются заглавными буквами латинского алфавита: A, B, C, а противолежащие им стороны - теми 
                    жк строчными буквами(см. рисунок). Треугольник с вершинами A, B, C обозначается как △ABC. Стороны можно также обозначать буквами 
                    Стороны можно также обозначать буквами ограничивающих их вершин: AB=c, BC=a, CA=b.
                </p>
                <a name="t-3"><h2>Классификация треугольников</h2></a>
                <p><h3>По виду наибольшего угла</h3></p>
                <p>
                    <ol>
                        <li>Если все углы треугольника острые, то треугольник называется остроугольным.</li>
                        <img src="static\120px-Triangle.Acute.png" alt="asdawddsa">
                        <li>Если один из углов треугольника прямой, то треугольник называется прямоугольным. Две стороны, образующие прямой угол,
                                называются катетами, а сторона, противолежащая прямому углу, называется гипотенузой.
                        </li>
                        <img src="static\120px-Triangle.Obtuse.png" alt="asdawddsa">
                        <li>Если один из углов треугольника тупой, то треугольник называется тупоугольным, Остальные два угла, очевидно, острые
                                (треугольников с двумя тупыми или прямыми углами быть не может).
                        </li>
                        <img src="static\120px-Triangle-right.png" alt="asdawddsa">
                    </ol>
                </p>
                <p><h3>По числу равных сторон (или по степени симметричности)</h3></p>
                <p>
                    <ol>
                        <li>Разносторонним называется треугольник, у которого все три стороны не равны.</li>
                        <img src="static\120px-Triangle-scalene.png" alt="asdawddsa">
                        <li>Равнобедренным называется треугольник, у которого две стороны равны. Эти стороны называются боковыми, третья сторона 
                            называется основанием. В равнобедренном треугольнике углы при основании равны.</li>
                        <img src="static\78px-Triangle.Isosceles.png" alt="asdawddsa">
                        <li>Равносторонним или правильным называется треугольник, у которого все три стороны равны. В равностороннем треугольнике 
                            все углы равны 60°, а центры вписанной и описанной окружностей совпадают. Равносторонний треугольник является частным 
                            случаем равнобедренного треугольника.</li>
                        <img src="static\120px-Triangle-equilateral.png" alt="asdawddsa">
                    </ol>
                </p>
                <a name="t-4"><h2>Медианы, высоты, биссектрисы</h2></a>
                <p>Медианой треугольника, проведённой из данной вершины, называется отрезок, соединяющий эту вершину с серединой противолежащей 
                    стороны (основанием медианы). Все три медианы треугольника пересекаются в одной точке. Эта точка пересечения называется центроидом.
                    Центроид делит каждую медиану в отношении 1:2, считая от основания медианы.
                </p>
                <img src="static\220px-Triangle.Centroid.png" alt="asdawddsa">
                <p>Высотой треугольника, проведённой из данной вершины, называется перпендикуляр, опущенный из этой вершины на противоположную сторону 
                    или её продолжение. Три высоты треугольника пересекаются в одной точке, называемой ортоцентром треугольника. Треугольник с вершинами 
                    в основаниях высот называется ортотреугольником.
                </p>
                <img src="static\Высота_треугольника.png" alt="asdawddsa"><img src="static\374px-Triangle.Orthocenter.png" alt="asdawddsa">
                <p>Биссектрисой (биссéктором) треугольника, проведённой из данной вершины, называют отрезок, соединяющий эту вершину с точкой на 
                    противоположной стороне и делящий угол при данной вершине пополам. Биссектрисы треугольника пересекаются в одной точке, и эта точка 
                    совпадает с центром вписанной окружности (инцентром). Если треугольник разносторонний (не равнобедренный), то биссектриса, 
                    проведённая из любой его вершины, лежит между медианой и высотой, проведёнными из той же вершины. Ещё одно важное свойство 
                    биссектрисы: она делит противоположную сторону на части, пропорциональные прилегающим к ней сторонам.
                </p>
                <img src="static\220px-Triangle_ABC_with_bisector_AD.jpeg" alt="asdawddsa">
                <p>Высота, медиана и биссектриса равнобедренного треугольника, опущенные на основание, совпадают. Верно и обратное: если биссектриса, 
                    медиана и высота, проведённые из одной вершины, совпадают, то треугольник равнобедренный.
                </p>
                <a name="t-5"><h2>Описанная и вписаннная окружности</h2></a>
                <p>Описанная окружность — окружность, проходящая через все три вершины треугольника. Описанная окружность всегда единственна, её центр 
                    совпадает с точкой пересечения перпендикуляров к сторонам треугольника, проведённых через середины сторон. В тупоугольном треугольнике 
                    этот центр лежит вне треугольника
                </p>
                <p>Вписанная окружность — окружность, касающаяся всех трёх сторон треугольника. Она единственна. Центр вписанной окружности называется инцентром,
                     он совпадает с точкой пересечения биссектрис треугольника.
                </p>
                <a name="t-6"><h2>Признаки равенства треугольников</h2></a>
                <p><h3>Равенство треугольников по двум сторонам и углу между ними.</h3></p>
                <p>Если две стороны и угол между ними одного треугольника соответственно равны двум сторонам и углу между ними другого треугольника, то такие 
                    треугольники равны.
                </p>
                <img src="static\250px-Признак_1_равенства_треугольников.png" alt="jkfghjkergh">
                <p><h3>Равенство треугольников по стороне и двум прилежащим к ней углам.</h3></p>
                <p>Если сторона и два прилежащих к ней угла одного треугольника соответственно равны стороне и двум прилежащим к ней углам другого треугольника, 
                    то такие треугольники равны.  
                </p>
                <img src="static\250px-Признак_2_равенства_треугольников.png" alt="fewhfoiuehuio">
                <p><h3>Равенство треугольников по трем сторонам.</h3></p>
                <p>Если три стороны одного треугольника соответственно равны трем сторонам другого треугольника, то такие треугольники равны.</p>
                <img src="static\250px-Признак_3_равенства_треугольников.png" alt="geoiughoeigh">
                <a name="t-7"><h2>Признаки подобия треугольников</h2></a>
                <p><h3>Первый признак подобия</h3></p>
                <p>Если два угла одного треугольника соответственно равны двум углам другого треугольника, то треугольники подобны.</p>
                <p><h3>Второй признак подобия</h3></p>
                <p>Если две стороны одного треугольника пропорциональны двум сторонам другого треугольника и углы, заключённые между этими сторонами, равны, 
                    то такие треугольники подобны.</p>
                <p><h3>Третий признак подобия</h3></p>
                <p>Если три стороны одного треугольника соответственно пропорциональны трем сторонам другого, то такие треугольники подобны.</p>
                <p><h3>Признаки подобия прямоугольных треугольников</h3>
                <ol>
                    <li>По острому углу — см. первый признак;</li>
                    <li>По двум пропорциональным катетам — см. второй признак;</li>
                    <li>По пропорциональному катету и гипотенузе — см. третий признак.</li>
                </ol>
                </p>
                <a name="t-8"><h2>Основные свойства элементов треугольника</h2></a>
                <p>
                <h3>Свойства углов</h3>
                Во всяком треугольнике против большей стороны лежит больший угол, и обратно. Против равных сторон лежат равные углы. Каждый внешний угол 
                треугольника равен разности между 180° и соответствующим внутренним углом. Для внешнего угла также имеет место теорема о внешнем угле 
                треугольника: внешний угол равен сумме двух других внутренних углов, с ним не смежных
                </p>
                <p><h3>Неравенство треугольника</h3>
                Каждая сторона треугольника больше разности двух других сторон.
                </p>
                <p><h3>Теорема о сумме углов треугольника</h3>
                    Сумма внутренних углов треугольника всегда равна 180°: a + b + c = 180°
                </p>
                <p><h3>Теорема синусов</h3>
                    Стороны треугольника пропорциональны синусам противолежащих углов. 
                <p><img src="static\teoremasinysov.png" arc="iefgif"></p>
                <p>где R — радиус окружности, описанной вокруг треугольника.</p>
                </p>
                <p><h3>Теорема косинусов</h3>
                    Квадрат стороны треугольника равен сумме квадратов двух других его сторон минус удвоенное произведение этих сторон на косинус угла между ними. 
                <p><img src="static\formuly555.png" arc="greiuguier"></p>
                </p>
                <h3>Теорема Пифагора</h3>
                <p>В прямоугольном треугольнике квадрат гипотенузы равен сумме квадратов катетов.</p>
                <p><img src="static\58305.png" arc="gersigb"></p>
                <p><img src="static\58299.png" arc="esbiuog"></p>
                <a name="t-9"><h2>Теорема, обратная теореме Пифагора</h2></a>
                <p>Если квадрат одной стороны треугольника равен сумме квадратов двух других сторон, то треугольник прямоугольный.</p>
                <a name="t-10"><h2>Решение треугольников</h2></a><p>
                    Вычисление неизвестных сторон, углов и других характеристик треугольника, исходя из известных, исторически получило название «решения 
                    треугольников». При этом используются приведенные выше общие тригонометрические теоремы, а также признаки равенства и подобия треугольников.
                </p>
                <a name="t-11"><h2>Теорема о пересечении высот треугольника</h2></a>
                <p>Высоты треугольника (или их продолжения) пересекаются в одной точке.</p>
                <a name="t-12"><h2>Средняя линия треугольника</h2></a>
                <p>Средняя линия треугольника - отрезок, который соединяет середины двух его сторон. В каждом треугольнике можно провести три средних линии, 
                    при пересечении которых получается четыре равных треугольника, подобных исходному с коэффициентом подобия 1/2.
                    На рисунке 1 изображен треугольник АВС, отрезки МЕ, МК и КЕ являются средними линиями данного треугольника, △BME=△AMK=△CEK=△MEK.
                </p>
                <img src="static\59502.png" arc="geghoil">
                <p>Средняя линия треугольника параллельна одной из его сторон и равна половине этой стороны.</p>
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>