<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static\styles2.css" rel="stylesheet">
        <title>MySyte.com</title>
        <style>
            table {
                border: 1px solid #ccc;
                border-spacing: 3px;
                table-layout: fixed;
                width: 450px;
                margin: auto;
            }

            td, th{
                border: solid 1px #ccc;
                text-align: center;
            }
            .collapsed{
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Сайт про геометрию</h1>
            <div id="nav">
                <ul>
                    <li><a href="main">Главная</a></li>
                    <li><a href="straight">Прямые</a></li>
                    <li><a href="triangle">Треугольники</a></li>
                    <li><a href="quadrilateral">Четырёхугольники</a></li>
                    <li><a href="area">Площадь</a></li>
                    <li><a href="circle">Окружность</a></li>
                    <li><a href="trigonometry">Тригонометрия</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                <ul>
                    <li><a href="#t-1">Определение</a></li>
                    <li><a href="#t-2">Значение синуса, косинуса и тангенса для углов 30, 45 и 60</a></li>
                    <li><a href="#t-3">Единичная полуокружность</a></li>
                    <li><a href="#t-4">Основное тригонометрическое тождество</a></li>
                    <li><a href="#t-5">Теорема синусов</a></li>
                    <li><a href="#t-6">Теорема косинусов</a></li>
                </ul>
            </div>
            <div id="article">
                <a name="t-1"><h2>Синус, косинус и тангенс острого угла прямоугольного треугольника</h2></a>
                <p>Рассмотрим прямоугольный треугольник АВС с прямым углом С:</p>
                <img src="static\60000.png" arc="sgkgn">
                <p>Катет ВС этого треугольника является противолежащим углу А, а катет АС - прилежащим к этому углу.</p>
                <p>Синусом острого угла прямоугольного треугольника называется отношение противолежащего катета к гипотенузе. Синус угла, который равен
                    α, обозначается символом sinα, читается: "синус альфа".
                </p>
                <p>Косинусом острого угла прямоугольного треугольника называется отношение прилежащего катета к гипотенузе. Косинус угла, который равен
                    α, обозначается символом cosα, читается: "косинус альфа".
                </p>
                <p>Тангенсом острого угла прямоугольного треугольника называется отношение противолежащего катета к прилежащему катету. Тангенс угла, который равен 
                    α, обозначается символом tgα, читается: "тангенс альфа".
                </p>
                <p>На рисунке:</p>
                <img src="static\60003.png" arc="gaeaga">
                <img src="static\60004.png" arc="agegeg">
                <img src="static\60005.png" arc="dhdrtheh">
                <p>Из формул получаем:</p>
                <img src="static\60006.png" arc="afgaegsdg">
                <img src="static\60007.png" arc="fjrtjshg">
                <p>Получили, что тангенс угла равен отношению синуса к косинусу этого угла.</p>
                <a name="t-2"><h2>Значение синуса, косинуса и тангенса для углов 30, 45 и 60</h2></a>
                <div id="table">
                    <table class="collapsed">
                        <thead>
                            <tr>
                                <td>α</td> <td>30°</td> <td>45°</td> <td>60°</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>sinα</td> <td>1/2</td> <td>√2/2</td> <td>√3/2</td>
                            </tr>
                            <tr>
                                <td>cosα</td> <td>√3/2</td> <td>√2/2</td> <td>1/2</td>
                            </tr>
                            <tr>
                                <td>tgα</td> <td>√3/3</td> <td>1</td> <td>√3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a name="t-3"><h2>Единичная полуокружность</h2></a>
                <p>Введем прямоугольную систему координат Oxy. В верхней полуплоскости координатной плоскости рассмотрим полуокружность радиуса 1 с центром в начале координат, её называют единичной полуокружностью. 
                    Из точки О(0; 0) проведем луч l и отметим точку M(x;y), в которой данный луч пересекает единичную полуокружность. 
                    Пусть α -  угол между лучом l и положительной полуосью абсцисс (при совпадении данного луча с положительной полуосью абсцисс будем считать, что ∠α=0°
                </p>
                <img src="static\67294.png" arc="gesuguihe">
                <p>Пусть ∠α меньше 90°, тогда из прямоугольного треугольника ЕОМ получаем: </p>
                <img src="static\67443.png" arc="egugg">
                <p>Учитывая, что ОМ = 1, МЕ = y, OE = x, получим:</p>
                <img src="static\67446.png" arc="aeghuhlaiug">
                <p>Для любого угла α из промежутка 0° ≤ α ≤ 180° синусом угла α называется ордината y, а косинусом угла α - абцисса x.</p>
                <p>Если M(x;y) - произвольная точка единичной полуокружности,то -1 ≤ cosα ≤ 1 и 0 ≤ sinα ≤1</p>
                <p>Лучи ОА, ОС и ОВ соответствуют углам, которые равны 0°, 90° и 180° соответственно. Точки А, С и В имеют координаты А(1; 0), С(0; 1) и В(-1; 0), поэтому</p>
                <p>sin0°=0, sin90°=1, sin180°=0</p>
                <p>cos0°=1, cos90°=0, cos180°=-1</p>
                <p>Танген и котангенс угла α равны соответственно:</p>
                <img src="static\67449.png" arc="ghslieghoie">
                <img src="static\67453.png" arc="gsihwoighwseio">
                <a name="t-4"><h2>Основное тригонометрическое тождество</h2></a>
                <p>sin²α + cos²α = 1</p>
                <p>Раенство выполняется для любого α из промежутка 0° ≤ α ≤ 180°</p>
                <a name="t-5"><h2>Теорема синусов</h2></a>
                <p>Стороны треугольника пропорциональны синусам противолежащих углов.</p>
                <img src="static\67544.png" arc="gsuegiesu">
                <p>Отношение стороны треугольника к синусу противолежащего угла равно диаметру (двум радиусам) описанной окружности.</p>
                <a name="t-6"><h2>Теорема косинусов</h2></a>
                <p>Квадрат стороны треугольника равен сумме квадратов двух других сторон минус удвоенное произведение этих сторон, умноженное на косинус угла между ними.</p>
                <img src="static\67587.png" arc="gselgueh">
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysite.com</p>
            <p>Copyright © MySyte.com, 2023</p>
        </div>
    </body>
</html>